@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background:#050816;
color:white;
font-family:sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: white;
  font-family: sans-serif;
}
@keyframes auroraMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }


}